{%extends 'base.html'%}
{%block main_area%}
    <div class="mt-5 row justify-content-center">
        <h1 class="text-center mb-5">로지스틱회귀</h1>
        <div class="text-center">
            <img src="/score/logistic/graph">
        </div>
        <div class="col-6 mt-5">
            <form name="frm">
                <div class="input-group">
                    <input class="form-control" placeholder="공부시간" name="hour">
                    <button class="btn btn-dark">합격률</button>
                </div>
            </form>
            <div class="text-center mt-5">
                <h5>합격률은 <span id="prob">0</span>%입니다.</h5>
            </div>
        </div>
    </div>
    <script>
        $(frm).on("submit", function(e){
            e.preventDefault();

            if($(frm.hour).val() == ""){
                alert("공부 시간을 입력하세요!");
                return;
            }
            $.ajax({
                type:"get",
                url:"/score/logistic/" + $(frm.hour).val(),
                success:function(data){
                    const prob = Math.round(parseFloat(data) * 100);
                    $("#prob").html(prob);
                }
            });
        });
    </script>
{%endblock%}